<nav style="background-color:#13e0c1 !important">
    <div class="nav-wrapper">

        <div class="input-field " style="width: 90%;">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>

    </div>
</nav>

<div class="MainContainer">
    <!-- Stuff in here-->
    <div class="ContentPanel">




        <!--Header-->

        <div class="topicDiv">

            <div class="inlineBlock imgDiv">
                <h5>Before</h5>
            </div>

            <div class="inlineBlock detailsDiv">
                <a class="btn-floating waves-effect waves-light" style="    background-color: #656565 !important;" (click)="isFilterHidden = !isFilterHidden"><i class="material-icons">settings</i></a>
            </div>

            <div class="inlineBlock imgDiv">
                <h5>Now</h5>
            </div>

            <div class="row center" [hidden]="isFilterHidden">
                <div class="input-field col s12 m5 l4">
                    <select>
                <option value="" disabled selected>Choose a category</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                </select>
                    <label>Category</label>
                </div>

                <div class="input-field col s12 m5 l4">
                    <select>
                <option value="1">Newest</option>
                <option value="2">Top rated</option>
                <option value="3">Oldest</option>
                </select>
                    <label>Relevanz</label>
                </div>

            </div>


        </div>





        <!--Table of Content-->
        <div class="topicDiv wow pulse" *ngFor="let top of topicList">

            <div class="center titleOver"> <a (click)="goToAbout(top.topicid)"> {{top.title}}</a> </div>

            <div class="inlineBlock imgDiv">
                <img src="{{top.images[0].url}}" class="responsive-img imi" />
            </div>

            <div class="inlineBlock detailsDiv">
                <div class="center">
                    <div class="inlineBlock  ">
                        <i class="material-icons roundbtn">navigate_before</i>
                    </div>

                    <div class="inlineBlock voteCount z-depth-1">1000</div>

                    <div class="inlineBlock  ">
                        <i class="material-icons roundbtn">navigate_next</i>
                    </div>
                </div>
            </div>

            <div class="inlineBlock imgDiv">
                <img src="{{top.images[top.images.length-1]?.url}}" class="responsive-img imi" />
            </div>

        </div>

        <!-- Stuff in here *end-->
    </div>
</div>

<a class="btn-floating waves-effect waves-light" style="    position: fixed;    bottom: 4px; right: 4px;background-color:#13e0c1 !important;" (click)="goToNewPicture()"><i class="material-icons">add_circle_outline</i></a>

<a class="btn-floating waves-effect waves-light" style="    position: fixed;    top: 4px; right: 4px;background-color:#13e0c1 !important;" (click)="goToNewPicture()"><i class="material-icons">person_outline</i></a>