<div class="MainContainer">
  <!-- Stuff in here-->
  <div class="ContentPanel">

    <!--Header-->

    <div class="topicDiv">

      <div class="inlineBlock imgDiv">
        <h5>Before</h5>
      </div>

      <div class="inlineBlock detailsDiv">#</div>

      <div class="inlineBlock imgDiv">
        <h5>Now</h5>
      </div>

    </div>

    <!--Table of Content-->
    <div class="topicDiv">

      <div class="center"> Titel </div>

      <div class="inlineBlock imgDiv">
        <img src="assets/videobg.png" class="responsive-img" />
      </div>

      <div class="inlineBlock detailsDiv">
        <div class="center">
          <div class="inlineBlock roundbtn z-depth-2"><</div>
          <div class="inlineBlock voteCount z-depth-3">1000</div>
          <div class="inlineBlock roundbtn z-depth-2">></div>
        </div>
      </div>

      <div class="inlineBlock imgDiv">
        <img src="assets/videobg.png" class="responsive-img" />
      </div>

    </div>


    <div class="topicDiv">

      <div class="inlineBlock imgDiv">
        <img src="assets/videobg.png" class="responsive-img" />
      </div>

      <div class="inlineBlock detailsDiv">#</div>

      <div class="inlineBlock imgDiv">
        <img src="assets/videobg.png" class="responsive-img" />
      </div>

    </div>

    <!-- Stuff in here *end-->
  </div>
</div>
