<div class="container">



  <div class="row" style="margin:10% 0px; border-bottom: 1px solid #989898;">
    <div class="col s12 m5 wow slideInLeft" style="">
      <h3 style="color: #ffc92a;  ">Get MOTIVATION</h3>
      <p class="light" style="font-size:1.3rem">
        Everyone has made the experience to not to be motivated for their goals
        <a href="http://changeisamazing.com/blog/motivation/index.html">read more</a>
      </p>
    </div>
    <div class="col s12 m1">
      <br />
      <br />
    </div>
    <div class="col s12 m6 wow slideInRight">
      <img src="https://images.pexels.com/photos/106567/pexels-photo-106567.jpeg?h=350&auto=compress&cs=tinysrgb" style="width:100%" />
    </div>
  </div>



</div>
