<video autoplay poster="assets/videobg.png" id="videobg" loop>
    <source src="assets/videobg.mp4" type="video/mp4">
    Your browser does not support the video tag. I suggest you upgrade your browser.
</video>	

<div class="backdrop"></div>



<div class="container-fluid">
    <div >
        <div class="col-md-3 col-centered table-bordered ">
            <div class="wrath-content-box"> <span></span> </div>
            <div class="wrath-content-box">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="newuser.name"  placeholder="Username" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control"  [(ngModel)]="newuser.password" placeholder="password" />
                </div>
                <div class="col-sm-6"><p>Register</p></div>
                <div class="col-sm-6">
                    <div class="form-group text-right">
                        <input type="button" class="waves-effect waves-light btn form-control" value="Sign In" (click)="login()"/>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

