<div class="backdrop">

</div>



<div class="row center">


    <div class="col s12 m3 l4">
    </div>

    <div class="col s12 m6 l4 card" style="margin-top: 20%">

        <div *ngIf="registerStep==-1" class="wrath-content-box center">
            <input type="button" style="margin:5px" class="waves-effect waves-light btn form-control" value="Register now" (click)="nextStep()" />
            <br/>
            <br/>
            <br/>
            <br/>
            <a (click)="registerStep=100"> Already have an account </a>
            <br/>
            <a href="/overview"> Skip register </a>
        </div>

        <!-- Login BEGIN-->

        <div class="row" *ngIf="registerStep==100">

            <div class="row">
                <div class="input-field ">
                    <input type="text" id="first_name" class="validate" [(ngModel)]="newuser.name" />
                    <label for="first_name">Username</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field ">
                    <input type="password" id="pass" class="validate" [(ngModel)]="newuser.password" />
                    <label for="pass">Password</label>
                </div>
            </div>

            <div class="row">
                <div class="center">
                    <input type="button" class="inlineBlock waves-effect waves-light btn form-control " value="Sign In " (click)="login() " />
                    <a (click)="registerStep=-1" class="inlineBlock">Cancel</a>
                </div>
            </div>
        </div>

        <!-- Register BEGIN-->

        <div *ngIf="registerStep!=-1&&registerStep!=100">
            <div class="wrath-content-box ">

                <div>
                    <div class="form-group" *ngIf="registerStep==0">
                        <h3>Enter a username</h3>
                        <input type="text" class="form-control " [(ngModel)]="newuser.name " placeholder="Username " />
                    </div>

                    <div class="form-group" *ngIf="registerStep==1">
                        <h3>Enter a password</h3>
                        <input type="password" class="form-control " [(ngModel)]="newuser.password " placeholder="Password " />
                    </div>

                    <div class="form-group" *ngIf="registerStep==2">
                        <h3>Enter a email</h3>
                        <input type="text" class="form-control " [(ngModel)]="newuser.email " placeholder="Email " />
                    </div>
                </div>

                <a (click)="registerStep=registerStep-1" class="lefet">back</a>
                <input type="button " class="waves-effect waves-light btn right " [value]="(registerStep==2?'Finish!':'Next')" (click)="nextStep() " />




            </div>
            <!-- Reg end-->



        </div>


        <div class="col s12 m3 l4 ">
        </div>

    </div>