video#videobg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('assets/videobg.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

h3 {
    color: #bfbfbf;
    font-size: 17px;
}

@import url(http://fonts.googleapis.com/css?family=Raleway:600);
span {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

.col-centered {
    float: none;
    margin: 0 auto;
    margin-top: 150px;
}

.wrath-content-box {
    padding: 15px;
}