<div class="bgPanel">

</div>

<div class="linePanel">

</div>

<div class="center vergleichPanel">
  <h2 class="center">{{topic?.title}}</h2>
  <p class="center">
    {{topic?.date | date}} by <a *ngIf="topic?.user != null " [routerLink]="['/profile',topic.user.userid]"> {{topic?.user?.name}}  </a>
    <br>
    <a *ngIf="isNotMe==false" class="btn" (click)="addnewPic=!addnewPic ">Add new picture</a>
    <br><br>
    <a [hidden]="isNotMe" class="" (click)="deletePost()">Delete post</a>

  </p>

  <p class="chip" style=" background-color:white;cursor:pointer" (click)="joinFollower()" *ngIf="!isFollowing && followerCount!=null">
    <img src="assets/img/join.png" class="left" style="width:32px; " title="Joiners">
    {{followerCount}} motivators
  </p>


  <p class="chip" style=" background-color: #6be268; cursor:pointer; color: white;" *ngIf="isFollowing" (click)="removeFollow()">
    <span class="">{{followerCount}} </span>
    <img src="assets/img/join.png" class="" style="width:32px; " title="Joiners">
    <span>motivators</span>
  </p>


  <!-- voted yeaaah!-->
  <div class="animated fadeInDown respectProvided" *ngIf="respectProvided">
    <img src="/assets/img/respect.png" class=" btn-floating" style="    height: 56px;    width: 56px;    background-color: #17b3ef;    padding: 4px;" />
    Respect provided, good job!
  </div>

  <!-- new Pic-->
  <div [hidden]="addnewPic" class="row" style="height: 90vh;     overflow-x: hidden; overflow-y: auto;">
    <div class="col s12 l4">
    </div>

    <div class="col s12 l4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" id="image_2" [src]="cropperAfter.base64" />

          <input class="fileinputer" type="file" accept="image/*" (change)="changeImage($event, false)">
          <button *ngIf="cropperAfter.Cropper" class="btn cropbtn" (click)="cropimg2()">crop</button>
        </div>
        <div class="card-content">

          <div class="row">

            <div class="input-field col s12">
              <input id="picdateid" type="date" class="datepicker">
              <label for="picdateid">Date</label>
            </div>

            <div class="input-field col s12">
              <textarea id="textarea2" class="materialize-textarea" [(ngModel)]="imageAfter.description"></textarea>
              <label for="textarea2">Desciption</label>
            </div>
          </div>

        </div>
        <div class="card-action">
          <a [hidden]="isNotMe" class="btn" (click)="savePic()">Save</a>
        </div>
      </div>
    </div>

    <div class="col s12 l4">
    </div>
  </div>



  <!-- 1 und last vergleich-->

  <div class="row" *ngIf="topic" style="    border: 2px solid #383838;    box-shadow: 3px 7px 9px #1b1b1b;">



    <div class="col s6" style="padding: 0px !Important">

      <div class="dateVgl">{{topic.images[0].picdate | date}}</div>

      <img class=" responsive-img" style="width:100%" src="http://changeisamazing.com/images/{{topic.images[0].url}}" />
    </div>
    <div class="col s6" style="padding: 0px !Important">

      <div class="dateVgl">{{topic.images[topic.images.length-1].picdate | date}}</div>

      <img class=" responsive-img" style="width:100%" src="http://changeisamazing.com/images/{{topic.images[topic.images.length-1].url}}" />
    </div>
  </div>

  <div class="votePanel">
    <img src="/assets/img/respect.png" class=" btn-floating" (click)="updVote()" style="width:40px;     width: 40px;      background-color: transparent; padding: 4px;" title="give respect" />

    <div style="padding: 10px; font-size: 11px; font-weight: bold;">{{topic?.upvote}}</div>
  </div>

</div>



<!-- Topic by user-->

<div *ngIf="topic">
  <div class="row picAndDescriptionPanel " *ngFor="let item of topic.images">

    <div class="agePanel wow fadeInLeft">
      {{item.picdate | date}}
    </div>

    <div class="col s12 l1">

    </div>

    <div class="col s12 l6 wow pulse">
      <img class="imgAbout responsive-img" style="width: 100%; max-width:600px !Important" src="http://changeisamazing.com/images/{{item.url}}" />
    </div>

    <div class="col s12 l4 textAabout">
      <div class="card">
        <div class="card-content">

          <p *ngIf="isNotMe"> {{item.description}}</p>

          <textarea *ngIf="!isNotMe" class="materialize-textarea" maxlength="200" style="" [(ngModel)]="item.description"></textarea>

        </div>
        <div class="card-action" [hidden]="isNotMe">
          <a class="" (click)="delete(item.imgid)">Delete</a>
          <a class="btn" (click)="changeText(item)">Edit</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Comment Section -->

<div (click)="hideComments=false" class=" showCommentPanel">
  {{this.commentList.length}}  <a style="color:white"> <i class="material-icons  tiny" style="margin-top: 10px; color:white">chat_bubble</i> Comments </a>
</div>

<div [hidden]="hideComments" class="commentPanel row animated fadeInRight">

  <div class="card col s12 m5 right" style="background-color: rgba(80, 80, 80, 0.86); height: 100%;  color: white;">
    <div class="card-content" style="padding-top: 20px;     height: 70%; overflow-y:auto ">
      <div *ngFor="let item of commentList" style="padding: 5px;">
        <div style="position: relative">
          <a class="inlineBlock" *ngIf="item.user" [routerLink]="['/profile',item.user.userid]">{{item.user?.name}}</a>
          <i class="material-icons inlineBlock tiny">chat_bubble</i>
          <p class="inlineBlock" style="color: white !important;"> {{item.texts}}</p>
          <div class="dateCommentPanel">{{formatTime(item.datum)}}</div>
        </div>
      </div>
    </div>

    <div class="card-action cmtBtnPanel" *ngIf="cst()">
      <div class="input-field ">
        <textarea id="textarea2" class="materialize-textarea" maxlength="200" style="    color: white;" [(ngModel)]="newComment.texts"></textarea>
        <label for="textarea2">Comment</label>
      </div>
      <a class="" (click)="hideComments=true">Close</a>
      <a class="btn" (click)="post()">Post comment</a>
    </div>

  </div>

</div>