<div class="bgPanel">

</div>

<div class="linePanel">

</div>

<div class="center vergleichPanel">
  <h2 class="center">{{topic?.title}}</h2>
  <p class="center">
    {{topic?.date | date}} by {{topic?.user?.name}}
    <br>
    <a *ngIf="isNotMe==false" class="btn" (click)="addnewPic=!addnewPic ">Add new picture</a>
    <br />
    <br />
    <a [hidden]="isNotMe" class="" (click)="deletePost()">Delete post</a>

  </p>

  <!-- 1 und last vergleich-->

  <div class="row" *ngIf="topic" style="    border: 2px solid #383838;    box-shadow: 3px 7px 9px #1b1b1b;">
    <div class="col s6" style="padding: 0px !Important">

      <div class="dateVgl">{{topic.images[0].picdate | date}}</div>

      <img class=" responsive-img" style="width:100%" src="http://changeisamazing.com/images/{{topic.images[0].url}}" />
    </div>
    <div class="col s6" style="padding: 0px !Important">

      <div class="dateVgl">{{topic.images[topic.images.length-1].picdate | date}}</div>

      <img class=" responsive-img" style="width:100%" src="http://changeisamazing.com/images/{{topic.images[topic.images.length-1].url}}" />
    </div>
  </div>

  <div class="votePanel">
    <img src="/assets/img/respect.png" class=" btn-floating" (click)="updVote()"  style="width:40px;     width: 40px;      background-color: #17b3ef;  padding: 4px;" title="give respect" />

    <div style="padding: 10px; font-size: 11px; font-weight: bold;">{{topic?.upvote}}</div>
  </div>

</div>



<!-- new Pic-->
<div *ngIf="!addnewPic" class="row" style="height: 90vh;     overflow-x: hidden; overflow-y: auto;">
  <div class="col s12 l4">
  </div>

  <div class="col s12 l4">
    <div class="card">
      <div class="card-image">
        <img class="responsive-img" id="image_2" [src]="cropperAfter.base64" />

        <input class="fileinputer" type="file" accept="image/*" (change)="changeImage($event, false)">
        <button *ngIf="cropperAfter.Cropper" class="btn cropbtn" (click)="cropimg2()">crop</button>
      </div>
      <div class="card-content">

        <div class="row">

          <div class="input-field col s12">
            <input id="picdateid" type="date" class="datepicker">
            <label for="picdateid">Date</label>
          </div>

          <div class="input-field col s12">
            <textarea id="textarea2" class="materialize-textarea" [(ngModel)]="imageAfter.description"></textarea>
            <label for="textarea2">Desciption</label>
          </div>
        </div>

      </div>
      <div class="card-action">
        <a [hidden]="isNotMe" class="btn" (click)="savePic()">Save</a>
      </div>
    </div>
  </div>

  <div class="col s12 l4">
  </div>
</div>

<!-- Topic by user-->

<div *ngIf="topic">
  <div class="row picAndDescriptionPanel " *ngFor="let item of topic.images">

    <div class="agePanel wow fadeInLeft">
      {{item.picdate | date}}
    </div>

    <div class="col s12 l1">

    </div>

    <div class="col s12 l6 wow pulse">
      <img class="imgAbout responsive-img" style="width: 100%; max-width:600px !Important" src="http://changeisamazing.com/images/{{item.url}}" />
    </div>

    <div class="col s12 l4 textAabout">
      <div class="card">
        <div class="card-content">
          <p> {{item.description}}</p>

        </div>
        <div class="card-action" [hidden]="isNotMe">
          <a class="" (click)="delete(item.imgid)">Delete</a>
          <a class="btn">Edit</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Comment Section -->

<div (click)="hideComments=false" class="chip " style="    font-size: 15px;position: fixed; bottom: 5px; right: 5px; cursor: pointer">
  <a> <i class="material-icons left tiny" style="margin-top: 10px;">chat_bubble</i> {{this.commentList.length}} </a>
</div>

<div [hidden]="hideComments" class="commentPanel row">

  <div class="card col s12 m5 right" style="background-color: rgba(80, 80, 80, 0.86); height: 100%;  color: white;">
    <div class="card-content" style="padding-top: 20px;     height: 70%; overflow-y:auto ">
      <div *ngFor="let item of commentList" style="padding: 5px;">
        <div style="position: relative">
          <a class="inlineBlock">{{item.user?.name}}</a>
          <i class="material-icons inlineBlock tiny">chat_bubble</i>
          <p class="inlineBlock" style="color: white !important;"> {{item.texts}}</p>
          <div class="dateCommentPanel">{{formatTime(item.datum)}}</div>
        </div>
      </div>
    </div>

    <div class="card-action cmtBtnPanel">
      <div class="input-field ">
        <textarea id="textarea2" class="materialize-textarea" maxlength="200" style="    color: white;" [(ngModel)]="newComment.texts"></textarea>
        <label for="textarea2">Comment</label>
      </div>
      <a class="" (click)="hideComments=true">Close</a>
      <a class="btn" (click)="post()">Post comment</a>
    </div>

  </div>

</div>