<div class="container">


  <div class="row" style="margin:10% 0px; border-bottom: 1px solid #989898;">
    <div class="col s12 wow slideInLeft" style="">
      <h3 style="color: #ffc92a;  ">Community Acitities</h3>
      <p class="light" style="font-size:1.3rem">
        We do monthly community activites with a lot of fun and prizes for members. It's simple.
      </p>

      <ul class="collection">
        <li class="collection-item">1. We post here a topic</li>
        <li class="collection-item">2. You post daily or weakly pictures or a youtube video</li>
        <li class="collection-item">3. Include the given word to the title </li>
        <li class="collection-item">4. After 1 month we see all processes, this will be amazing!</li>
      </ul>

    </div>
   
</div>