<img src="assets/img/all.jpg" class="bgLog">



<div class="row center">
    <div class="col s12 m3 l4">
    </div>

    <div class="col s12 m6 l4" style="margin-top: 50px;  background-color: #000000;    color: white;">

        <div *ngIf="registerStep==-1" class="wrath-content-box center row">
            <br />
            <br />

            <div class="container">
                Username
                <div class="input-field">
                    <input type="text" id="first_name" class="center" [(ngModel)]="newuser.name" />
                </div>
            </div>

            <div class="container">
                Password
                <div class="input-field ">
                    <input type="password" id="pass" class="center" [(ngModel)]="newuser.password" />
                </div>
            </div>

            <div class="row">
                <div class="center">
                    <input type="button" class="inlineBlock waves-effect waves-light btn-large lighten-1" style="background-color:#28D34D" value="Sign In " (click)="login() " />
                    <br>
                </div>
            </div>


            <br />
            <br />
            <br />
            <br />
            <div class="row">

                <input type="button" class="inlineBlock waves-effect waves-light btn orange lighten-1" value="Create account" (click)="registerStep=0" />

            </div>
        </div>



        <!-- Register BEGIN-->

        <div *ngIf="registerStep!=-1">
            <div class="wrath-content-box " style="position:relative">

                <div class="row">
                    <div class="input-field" *ngIf="registerStep==0">
                        <h3>Enter an username</h3>
                        <input type="text" class="form-control " [(ngModel)]="newuser.name " placeholder="Username " />
                    </div>

                    <div class="form-group" *ngIf="registerStep==1">
                        <h3>Enter a password</h3>
                        <input type="password" class="form-control " [(ngModel)]="newuser.password " placeholder="Password " />
                    </div>

                    <div class="form-group" *ngIf="registerStep==2">
                        <h3>Enter an email</h3>
                        <input type="text" class="form-control " [(ngModel)]="newuser.email " placeholder="Email " />
                    </div>

                    <div class="form-group" *ngIf="registerStep==3">
                        <h3> <i class="material-icons prefix">thumb_up</i></h3>
                        Well done! You can login to your account now.
                    </div>

                </div>

                <a (click)="registerStep=registerStep-1" class="lefet">back</a>
                <input type="button " class="waves-effect waves-light btn right orange lighten-1" [value]="(registerStep==2?'Finish!':'Next')" (click)="nextStep() " />

                <br />
                <br />



            </div>
            <!-- Reg end-->



        </div>


        <div class="col s12 m3 l4 ">
        </div>

    </div>
</div>