<img src="assets/img/all.jpg" class="bgLog">



<div class="row center">
  <div class="col s12 m3 l4">
  </div>

  <div class="col s12 m6 l4" style="margin-top: 50px;      background-color: rgba(0, 0, 0, 0.31);   color: white;">

    <div *ngIf="registerStep==-1" class="wrath-content-box center row">
      <br />
      <br />

      <div class="container">
        Username
        <div class="input-field">
          <input type="text" id="first_name" class="center" [(ngModel)]="newuser.name" style="color:white" />
        </div>
      </div>

      <div class="container">
        Password
        <div class="input-field ">
          <input type="password" id="pass" class="center" [(ngModel)]="newuser.password" style="color:white" />
        </div>
      </div>

      <div class="row">
        <div class="center">
          <input type="button" class="inlineBlock btn-large" style="color:white !important; background-color:#28D34D" value="Sign In " (click)="login() " />
          <br>
        </div>
      </div>


      <br />
      <br />
      <br />
      <br />
      <div class="row">

        <input type="button" class="inlineBlock btn " style="color:white !important" value="Create account" (click)="registerStep=0" />

      </div>
    </div>



    <!-- Register BEGIN-->

    <div *ngIf="registerStep!=-1">
      <div class="wrath-content-box " style="position:relative">

        <div class="row">
          <div class="input-field" *ngIf="registerStep==0">
            <h3>Enter an username</h3>
            <input type="text" class="form-control " style="color:white" [(ngModel)]="newuser.name " placeholder="Username " />
          </div>

          <div class="form-group" *ngIf="registerStep==1">
            <h3>Enter a password</h3>
            <input type="password" class="form-control" style="color:white" [(ngModel)]="newuser.password " placeholder="Password " />
          </div>

          <div class="form-group" *ngIf="registerStep==2">
            <h3>Enter an email</h3>
            <input type="text" class="form-control " style="color:white" [(ngModel)]="newuser.email " placeholder="Email " />
          </div>

          <div class="form-group" *ngIf="registerStep==3">
            <h3> <i class="material-icons prefix" style="color:white;">thumb_up</i></h3>
            Well done! You can login to your account now.
          </div>

        </div>

        <div *ngIf="registerStep!=3">
          <a (click)="registerStep=registerStep-1" class="lefet">back</a>
          <input type="button" class="waves-effect waves-light btn right orange lighten-1" style="color:white" [value]="(registerStep==2?'Finish!':'Next')" (click)="nextStep() " />
        </div>

        <div *ngIf="registerStep==3">
          <input type="button" class="btn " style="color:white" value="Login now!" (click)="registerStep=-1" />

        </div>

        <br />
        <br />



      </div>
      <!-- Reg end-->



    </div>


    <div class="col s12 m3 l4 ">
    </div>

  </div>
</div>