h3 {
    color: #bfbfbf;
    font-size: 17px;
}

@import url(http://fonts.googleapis.com/css?family=Raleway:600);
span {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

.col-centered {
    float: none;
    margin: 0 auto;
    margin-top: 150px;
}

.wrath-content-box {
    padding: 15px;
}

.bgLog {
    position: absolute;
    left: 0px;
    z-index: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    top: 0px;
}