
<div class="container">

  <div class="input-field col s12" style="    ">
    <input style=" color: white; border-bottom: 1px solid white;" id="ttiel" type="text" [(ngModel)]="topic.title" class="validate">
    <label style=" color: white;" for="ttiel">Title</label>
  </div>


  <imgPanel [(image)]="images[currentImage]">


  </imgPanel>



</div>

<button class="btn  right" (click)="addNewImage()">Add new Image</button>
<button class="btn  right" (click)="save()">Add new post</button>
<button class="btn left grey" (click)="cancel()">Cancel</button>
