
<div class="container" *ngIf="currentImage>0">

  <div class="input-field col s12" style="    ">
    <input  id="ttiel" type="text" [(ngModel)]="topic.title" class="validate">
    <label for="ttiel">Title</label>
  </div>


  <imgPanel [(img)]="images[currentImage-1]">


  </imgPanel>

  <div style="text-align:center;">

    <button class="btn-large" (click)="addNewImage()">Add Image</button>

  </div>

  <div class="numberOfImagesPanel">

    Number of Images
    <div class="numStyle" *ngFor="let image of images;let i = index" (click)="setImage(i)">
     <div [style.color]="i== currentImage-1 ? 'green' : '' "> {{i+1}} </div>
    </div>

  </div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<div style="position:fixed; bottom:0px; left:0px; width:100%; padding:10px; background-color:#383737">

  <button class="btn " style="position:absolute; right:2px;" (click)="save()">Add new post</button>
  <button class="btn  grey" (click)="cancel()">Cancel</button>
</div>
