:host {}

.imageContainer {
    background-color: white;
    padding: 6px;
    width: 90%;
    margin-bottom: 100px;
}

.cardTitleex {
    /* width: 100%; */
    background-color: #909090;
    top: -11px;
    height: 41px;
    /* opacity: 0.6; */
    padding: 8px !important;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
}

.cardTitleexAfter {
  background-color: #17b3ef;
}

.numberOfImagesPanel {
}

.numStyle {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #636363;
  margin: 5px;
  border-radius: 7px;
}