<a class="btn-floating  meBtn btn-large waves-effect waves-light" (click)="goToProfile()">
  <img [src]="this.nameListService.picURL" class="icoPic">
</a>


<!--filter content-->
<div class="topicDiv">
  <!--<img [src]="this.nameListService.picURL" class="bgPic animatePic" id="picId"> -->

  <div class="chipList" style="position:relative; z-index:2;  opacity: 0.9;">

    <div class="cp " routerLink="/t/hall">
      <img src="http://images.all-free-download.com/images/graphiclarge/golden_laurel_wreath_design_vector_535017.jpg" class="imgcp" />
      <h4 class="cpTitle flow-text"> Featured </h4>
    </div>

    <div class="cp " routerLink="/t/all">
      <img src="assets/img/sport.png" class="imgcp" />
      <h4 class="cpTitle">Changes</h4>
    </div>



    <div class="cp " routerLink="/chisam">
      <img src="https://images.pexels.com/photos/380283/pexels-photo-380283.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" class="imgcp" />
      <h4 class="cpTitle">Chisam</h4>
    </div>

  </div>

</div>

<router-outlet></router-outlet>


<a [routerLink]="['../addPicture']" class="btn-floating" style="position:fixed; right:5px; bottom:5px;    background-color: #17b3ef;">
  <i class="material-icons">add</i>
</a>

<div class="specReg row " *ngIf="showRegister">

  <div class="col s12 m8 l9 regPanel">

    <div style="    font-size: 3rem;    background-color: rgba(0, 0, 0, 0.26);    color: white;    padding: 5%;">
      <p style="font-size:2rem">Tell us <b style="color:#17b3ef">your</b> story and inspire others

    </div>
    <br><br>
    <input type="button" class="inlineBlock btn-large" style="background-color: #17b3ef; color: white !important;" value="Register now" routerLink="/login" />
    <br><br>


    <a (click)="showRegister=false">register later</a>

  </div>


</div>

