.icoPic {
  width: 100%;
  height: 100%;
  margin: 2px;
}


.meBtn {
  position: fixed;
  top: -15px;
  right: -15px;
  background-color: #252525 !important;
  width: 80px;
  height: 80px;
  border: 5px solid #17b3ef;
  z-index:1000;
}

.detailsDiv {
  width: 20%;
}

.bgPic {
  position: absolute;
  left: 0px;
  z-index: -2;
  width: 100%;
  opacity: 0.1;
  top: 0px;
}

.imgDiv {
  width: 38%;
  padding: 15px;
}

.topicDiv {
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.72);
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  height: 60px;
  overflow: hidden;
  background-color: #5d5d5d;
  border-bottom: 5px solid rgba(0, 185, 255, 0.92);
}

.cp {
  min-height: 90px;
  font-size: 1.2rem;
  width: 25%;
  max-height: 65px;
  max-width: 150px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: black;
  margin-right: -5px;
  text-align: center;
}

.imgcp {
  opacity:0.7;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.cp:hover .imgcp {
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  -moz-transform: scale(1.25); /* Firefox */
  -ms-transform: scale(1.25); /* IE 9 */
  -o-transform: scale(1.25); /* Opera */
  transform: scale(1.25);
  opacity: 1;
}

.cp:hover .cpTitle {
  font-size: 1.3rem;
}

.cpTitle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  top: 10px;
  font-size: 0.8rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.roundbtn {
  font-size: 2.5vw;
  font-weight: bolder;
  border: 2px solid #d4d4d4;
  background-color: #ffffff;
  border-radius: 9px;
}

.chip {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

  .chip:hover {
    color: black !important;
  }


.specReg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.72);
  z-index: 100;
}

.regBg {
  margin-top: 50px;
  background-color: rgb(253, 253, 253);
  color: #969696;
  box-shadow: 0px 3px 10px 1px #989898;
  border: 1px solid #969696;
}

.regPanel {
  position: absolute;
  left: 0 !important;
  right: 0 !important;
  text-align: center;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-image: url('assets/img/reg.jpeg');
  background-size: cover;
  background-color: white;
  padding: 30px;
  border: 2px solid #17b3ef;
  box-shadow: -1px 5px 4px 2px #8e8e8e;
}