<!--filter content-->
<nav class="topicDiv row">
  <!--<img [src]="this.nameListService.picURL" class="bgPic animatePic" id="picId"> -->

  <div class="chipList" style="position:relative; z-index:2;  opacity: 0.9;">

    <div class="cp " routerLink="/t/hall">
      <img src="http://images.all-free-download.com/images/graphiclarge/golden_laurel_wreath_design_vector_535017.jpg" class="imgcp" />
      <h4 class="cpTitle flow-text"> Hall </h4>
    </div>

    <div class="cp " routerLink="/t/all">
      <img src="https://images.pexels.com/photos/2422/sky-earth-galaxy-universe.jpg?h=350&auto=compress&cs=tinysrgb" class="imgcp" />
      <h4 class="cpTitle">Explore</h4>
    </div>
    <div class="cp " routerLink="/t/read">
      <img src="https://images.pexels.com/photos/34601/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb" class="imgcp" />
      <h4 class="cpTitle">Read</h4>
    </div>



    <div class="cp " routerLink="/t/chisam" *ngIf="cst()==null">
      <img src="https://images.pexels.com/photos/380283/pexels-photo-380283.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" class="imgcp" />
      <h4 class="cpTitle">Changeis</h4>
    </div>


    <a class="btn-floating  meBtn btn-large waves-effect waves-light" (click)="goToProfile()">
      <img [src]="this.nameListService.picURL" class="icoPic">
    </a>


  </div>

</nav>

<router-outlet></router-outlet>




