<!--filter content-->
<div class="topicDiv">
  <img [src]="this.nameListService.picURL" class="bgPic animatePic" id="picId">

  <div class="chipList" style="position:relative; z-index:2;   margin-top:20px;  opacity: 0.9;">

    <div class="chip cursor cp" style="background-color: rgba(243, 243, 243, 0.13);    color: #D138BF;   border: 1px solid #D138BF;">
      Other
    </div>

    <div class="chip cursor cp" style="background-color: rgba(243, 243, 243, 0.13);    color: #7494EA;   border: 1px solid #7494EA;">
      Technology
    </div>

    <div class="chip cursor cp" style=" background-color: rgba(243, 243, 243, 0.13);    color: #28D34D;   border: 1px solid #28D34D;" routerLink="/t/landscape">
      Landscape & buildings
    </div>

    <div class="chip cursor cp" style=" background-color: rgba(243, 243, 243, 0.13);    color: #39f;   border: 1px solid #44CCFF;" routerLink="/t/people">
      People
    </div>


  </div>

</div>

<router-outlet></router-outlet>
