<!--filter content-->
<div class="topicDiv">
  <h2><img src="assets/icon/chisamlogo.png" class="chisamlogo"></h2>

  <div class="chipList">

    <div class="chip cursor" style="background-color:#D138BF; color:antiquewhite">
      Other
    </div>
    <div class="chip cursor" style="background-color:#7494EA; color:antiquewhite">
      Technology
    </div>

    <div class="chip cursor" style="background-color:#28D34D; color:antiquewhite">
      Landscape & buildings
    </div>

    <div class="chip cursor" style="background-color:#44CCFF; color:antiquewhite" routerLink="/t/fit">
      <img src="assets/icon/fitness.png" alt="Contact Person">
      Fitness
    </div>


  </div>

</div>

<div class="row center">
  <div class="input-field col s12 m4 ">
    <input id="search" type="search">
    <label for="search"><i class="material-icons">search</i></label>
    <i class="material-icons">close</i>
  </div>
</div>

<app-images-panel [topiclist]="topiclist"></app-images-panel>

<a *ngIf="loggeduserid" class="btn-floating  btn-large waves-effect waves-light" style="    position: fixed;    bottom: 4px; right: 4px;background-color:#e09513 !important" (click)="goToNewPicture()"><i class="material-icons">add_circle_outline</i></a>
