<h1 class="grey-text center">{{user?.name}}</h1>




<div class="row">
    <div *ngFor="let top of topicList" class="col s12 m7 l4">
        <div class="card">
            <div class="card-image">
                <img src="http://changeisamazing.com/images/{{top.images[0].url}}" class="imgAk" />
                <img src="http://changeisamazing.com/images/{{top.images[top.images.length-1]?.url}}" class="imgAk" />
                <span class="card-title titleNew grey-text text-darken-4">{{top.title}}</span>
            </div>

            <div class="card-action grey-text ">

                <div class="inlineBlock">
                    <i class="material-icons">sentiment_very_satisfied</i> 100
                </div>

                <div class="inlineBlock">
                    <i class="material-icons">photo_library</i> {{top.images.length}}
                </div>

                <div class="right">
                    <a class="btn-floating" style="    background-color: #808080 !Important;" (click)="goToAbout(top.topicid)"><i class="material-icons">visibility</i></a>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Stuff in here *end-->