.imgAk {
    display: inline-block !important;
    width: 48% !important;
}

.titleNew {
    padding: 5px !important;
    width: 100%;
    background-color: #eaeaea;
    font-size: 17px;
    opacity: 0.8;
}