<div class="row container">

    <div class="input-field col s12">
        <input id="ttiel" type="text" [(ngModel)]="topic.title" class="validate">
        <label for="ttiel">Title</label>
    </div>

    <div class="input-field col s12">
        <select [(ngModel)]="topic.category" class="icons">
                <option value="" disabled selected>Choose a category</option>
                <option value="fitness" data-icon="assets/icon/fitness.png" class="left">Fitness</option>
                <option value="style" data-icon="assets/icon/style.png" class="left">Style</option>
                <option value="landscape" data-icon="assets/icon/landscape.png" class="left">Landscape</option>
                <option value="technology" data-icon="assets/icon/it.png" class="left">Technology</option>
                <option value="biology" data-icon="assets/icon/biology.png" class="left">Biology</option>
                <option value="other" data-icon="assets/icon/other.png" class="left">Other</option>
                </select>
        <label>Category</label>
    </div>



    <div class="col s12 m5">
        <div class="card">
            <span class="card-title cardTitleex">Before </span>
            <div class="card-image">
                <img class="responsive-img" id="image_1" [src]="cropperBefore.base64" />
            </div>
            <div class="card-content">
                <input type="file" accept="image/*" (change)="changeImage($event, true)">
                <button *ngIf="cropperBefore.Cropper" class="btn cropbtn" (click)="cropimg1()">crop</button>
                <div class="row">

                    <div class="input-field col s12">
                        <input id="picdateid1" type="date" class="datepicker">
                        <label for="picdateid1">Date</label>
                    </div>

                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="imageBefore.description"></textarea>
                        <label for="textarea1">Desciption before</label>
                    </div>
                </div>


            </div>
            <div class="card-action">
            </div>
        </div>
    </div>


    <div class="col s12 m2">



    </div>


    <div class="col s12 m5">
        <div class="card">
            <span class="card-title cardTitleex cardTitleexAfter">After </span>
            <div class="card-image">
                <img class="responsive-img" id="image_2" [src]="cropperAfter.base64" />
            </div>
            <div class="card-content">
                <input type="file" accept="image/*" (change)="changeImage($event, false)">
                <button *ngIf="cropperAfter.Cropper" class="btn cropbtn" (click)="cropimg2()">crop</button>

                <div class="input-field col s12">
                    <input id="picdateid2" type="date" class="datepicker">
                    <label for="picdateid2">Date</label>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea2" class="materialize-textarea" [(ngModel)]="imageafter.description"></textarea>
                        <label for="textarea2">Desciption after</label>
                    </div>
                </div>


            </div>
            <div class="card-action">
            </div>
        </div>
    </div>
</div>

<button class="btn btn right" (click)="save()">Add new post</button>
<button class="btn left grey" (click)="cancel()">Cancel</button>