<div class="row fixedSplitBg">
  <div class="col s6 colbg">
    <img src="/assets/img/reg.jpeg" style="height:auto; width:100%;  min-height:100vh;" />
    <div class="bgAlpha1" style="background:rgba(107, 208, 245, 0.84)"></div>
  </div>
  <div class="col s6 colbg">
    <img src="/assets/img/childpoor.jpeg" style="height:auto; width:100%; min-height:100vh;" />
    <div class="bgAlpha1" style="background:rgba(255, 181, 25, 0.81)"></div>
  </div>
</div>

<div class="container section no-pad-bot bgImgVision" style="height:90vh">

  <div style="position:relative;  margin-top: 2vh; text-align:center">
    <img src="/assets/img/logofarbig.png" alt="change is amazing" class="logostyle" id="logosy" />
    <p class="logotext"><span style="color:#6bd0f5">Change</span> is <span style="color:#ffb519">Amazing</span>  </p>
  </div>

  <div class="row" style="text-align:center; position:relative; color:white; margin-top: 10vh;">

    <div class="col s12 m5 actreact">Action</div>
    <div class="col s12 m2"><i class="material-icons" style="font-size: 22px;padding: 10px;border-radius: 50px;background: white;color: #696969;">compare_arrows</i></div>
    <div class="col s12 m5 actreact">Reaction</div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col s12" style="text-align:center">


    </div>


  </div>

</div>


<section class="row" style="background:transparent;position:relative;">


    <img class="img-iso" src="https://images.pexels.com/photos/171296/pexels-photo-171296.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" />



  <div class=" col s12 m5" style="margin-top:15%">

  <p class="" style="padding:10px; color:#bbbbbb">
    We live in a world where people think more and more about themselves.
    <br />
    In a life where one's own prosperity is most important.<br /><br />

    We want more and more, faster and faster and if we don't reach our goal as expected, <br /> we give up and fall into depression.
    <br />
  </p>
  <h4>Don't be greedy, be wise</h4>
  </div>


</section>