<div class="row fixedSplitBg">
  <div class="col s6 colbg">
    <img src="/assets/img/reg.jpeg" style="height:auto; width:100%;  min-height:100vh;" />
    <div class="bgAlpha1" style="background:rgba(107, 208, 245, 0.64)"></div>
  </div>
  <div class="col s6 colbg">
    <img src="/assets/img/childpoor.jpeg" style="height:auto; width:100%; min-height:100vh;" />
    <div class="bgAlpha1" style="background:rgba(255, 181, 25, 0.61)"></div>
  </div>
</div>

<div class="container section no-pad-bot bgImgVision" style="height:90vh">

  <div style="position:relative;  margin-top: 2vh; text-align:center">
    <img src="/assets/img/logofarbig.png" alt="change is amazing" class="logostyle" id="logosy" />
    <p class="logotext"><span style="color:#6bd0f5">Change</span> is <span style="color:#ffb519">Amazing</span>  </p>
  </div>

  <div class="row" style="text-align:center; position:relative; color:white; margin-top: 10vh;">

    <div class="col s12 m5 actreact">Action</div>
    <div class="col s12 m2"><i class="material-icons" style="font-size: 22px;padding: 10px;border-radius: 50px;background: white;color: #696969;">compare_arrows</i></div>
    <div class="col s12 m5 actreact">Reaction</div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col s12 m5" style="font-size: 30px;"></div>
    <div class="col s12 m2">0.00<br /> Change made</div>
    <div class="col s12 m5" style="font-size: 30px;"></div>


  </div>

</div>


<section class="" style=" text-align:center;   box-shadow: 0px -7px 19px 20px white;">

  <div> <h2>Start to make a move and change</h2></div>

  <i class="material-icons">priority_high</i>
  <p class="container" style="text-align:center;padding-top:2vh">
    We live in a world where people think more and more about themselves.
    <br />
    In a life where one's own prosperity is most important.<br /><br />

    We want more and more, faster and faster and if we don't reach our goal as expected, <br /> we give up and fall into depression.
    <br />
  </p>
  <h4>Don't be greedy, be wise</h4>


</section>