.inlineBlock {
    display: inline-block;
}

.imgAk {
    display: inline-block !important;
    width: 49% !important;
}

body {}

.titleNew {
    padding: 5px !important;
    width: 100%;
    background-color: #eaeaea;
    font-size: 17px !important;
    opacity: 0.8;
}

.fileinputer {
    padding: 5px;
    background-color: #797979;
    width: 100%;
    color: #efefef;
}

loading {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    z-index: 10000;
}