<div class="fullscreen-bg">
  <video loop muted autoplay poster="assets/img/all.jpg" class="fullscreen-bg__video">
    <source src="assets/img/bgVid.mp4" type="video/mp4">
  </video>
</div>



<div class="row">
  <div class="col s11 m9  card " style="float:none;  max-width:780px; margin:30px auto;     background-color: rgba(0, 0, 0, 0.43)  !important">

    <div class="card-content " style="color:white; font-size:19px">
      The world keeps chaning, <b> weather person, nature, building and many other things </b>
      <br />
      <br />
      <span style="    color: #17b3ef;    font-size: 42px;    font-weight: bold;   text-shadow: 1px 1px 2px #3c3c3c"> Tell us a story and inspire / motivate other people around the world. </span>
      <br />
      <br />

      It doesn't matter what subject you chose.<br />
      It doesn't matter If you plan your way and the change is currently in progress,
      even the small things can change you and other people or even the world.


      <br />
      <br />

     Because
      <span class="titleheader"> Change is amazing </span>

    </div>
  </div>
</div>