.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  /* background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;*/
}

.titleheader {
  color: #ffb763;
  text-align: center;
  font-size: 4em;
  padding: 17px;
}

.bgImgVision {
  position: relative;
  z-index: 0;
  height: 90vh;
}

.tinyImg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.bgImgVision::before {
  background-color: rgba(0, 0, 0, 0.69);
  content: " ";
  position: absolute;
  width: 100%;
  height: 102%;
  top: -18px;
  left: 0px;
  opacity: 0.6;
  z-index: -1;
}

.fixiBgVid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.logostyle {
  z-index: 2;
  width: 0px;
  opacity: 0;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

video {
  background: transparent url('https://static.pexels.com/photos/115126/pexels-photo-115126.jpeg') no-repeat;
  background-size: cover;
}
