<div class="fullscreen-bg">

</div>

<div class="container">

  <h2>Your joined changes</h2>

  <div>
    <app-images-panel [category]="'external'" [topicsExtern]="topics"></app-images-panel>


  </div>


</div>



<div class="row">
  <div class="container">

    <div style="color:black; font-size:19px">
      The world keeps chaning, <b> weather person, nature, building and many other things </b>
      <br />
      <br />
      <span style="    color: #17b3ef;    font-size: 42px;    font-weight: bold; "> Tell us a story and inspire / motivate other people around the world. </span>
      <br />
      <br />


      <div class="row">

        <p> Body Transformation </p>


      </div>

      <div class="row">

        <p> Life </p>


      </div>


      <div class="row">
        <p> Landscape </p>



      </div>

      <div class="row">
        <p> Building </p>


      </div>


      <div class="row">
        <p> and many more </p>


      </div>
      <br />

      <div class="row">
        <p> The change can be in progress and you can win many motivators for your change </p>


      </div>

      <br />
      <br />

      <div class="row">
        <p style="    font-style: italic;    color: grey;   font-size: 14px;"> Change is changeisamazing.com is not responsible for the content of it's users, please be respectful don't post nude or pornographic content</p>


      </div>

    </div>
  </div>
</div>