<div class="section no-pad-bot bgImgVision">
  <div class="container" style="    margin-top: 12%;">
    <br><br>

    <div style="text-align:center;">
      <h1 class="header center animated" style="color: #ffc92a;     font-size: 5rem; display:inline-block;" [ngClass]="changeAni">Change</h1>
      <h3 *ngIf="isAni" class="header center animated" style="  color:white; display:inline-block; " [ngClass]="isAni">Is</h3>

      <h1 *ngIf="amazingAni" class="header center animated" style="color:#039be5;font-size: 6rem;display:inline-block;    " [ngClass]="amazingAni">Amazing</h1>
    </div>


    <div class="row center">
      <h5 class="header col s12" style="color:white;">Change yourself and other around the world!</h5>
    </div>
    <div class="row center">
      <a [routerLink]="['login']" class="btn-large waves-effect waves-light" style="background-color:#039be5">Register Now!</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row" style="padding-left: 13%; padding-right: 10%; margin:10% 0px">
      <div class="col s12 m6 wow slideInLeft">
        <h3 style="color: #ffc92a;  ">Share us your change</h3>
        <p class="light" style="font-size:1.3rem">
          Your change can be in progress or finished.
          We would like to see your way of success
        </p>
      </div>
      <div class="col s12 m1">
        <br />
        <br />
      </div>
      <div class="col s12 m5 wow slideInRight">
        <img src="assets/img/reg.jpeg" style="width:100%" />
      </div>
    </div>

  </div>

  <div class="section">

    <!--   Icon Section   -->
    <div class="row" style="padding-left: 13%; padding-right: 10%; margin:10% 0px">
      <div class="col s12 m6 wow slideInLeft">
        <img src="https://images.pexels.com/photos/4417/black-and-white-people-bar-men.jpg?w=1260&h=750&auto=compress&cs=tinysrgb" style="width:100%" />
      </div>
      <div class="col s12 m1">
        <br />
        <br />
      </div>
      <div class="col s12 m5 wow slideInRight">
        <h3 style="color: #ffc92a;  ">Motivators and be a Motivator</h3>
        <p class="light" style="font-size:1.3rem">
          Every change can be a <span style="font-weight:bold">huge</span> motivation for everyone on this community.
        </p>
      </div>
    </div>

  </div>


</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>




