<div class="fullscreen-bg">

</div>

<div class="container">

  <h2>Your joined changes</h2>

  <div>
    <app-images-panel [category]="'external'" [topicsExtern]="topics"></app-images-panel>


  </div>


</div>



<div class="row">
  <div class="col s11 m9  card " style="float:none;  max-width:780px; margin:30px auto; ">

    <div class="card-content " style="color:black; font-size:19px">
      The world keeps chaning, <b> weather person, nature, building and many other things </b>
      <br />
      <br />
      <span style="    color: #17b3ef;    font-size: 42px;    font-weight: bold; "> Tell us a story and inspire / motivate other people around the world. </span>
      <br />
      <br />

      <span>
        It doesn't matter what subject you chose.<br />
        It doesn't matter If you plan your way and the change is currently in progress,
        even the small things can change you and other people or even the world.
      </span>


      <br />
      <br />

      Because
      <span class="titleheader"> Change is amazing </span>

    </div>
  </div>
</div>