.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  /* background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;*/
}

.titleheader {
  color: #ffb763;
  text-align: center;
  font-size: 4em;
  padding: 17px;
}

.bgImgVision {
  position: relative;
  z-index: 0;
  height: 90vh;
}


  .bgImgVision::before {
    background-color: rgba(0, 0, 0, 0.34);
    content: " ";
    position: absolute;
    width: 100%;
    height: 102%;
    top: -18px;
    left: 0px;
    opacity: 0.7;
    z-index: -1;
  }

.fixiBgVid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.logostyle {
  position: absolute;
  z-index: -1;
  width: 0px;
  opacity:0;
  right: 10px;
  -webkit-transition: all 5s linear;
  -moz-transition: all 5s linear;
  -o-transition: all 5s linear;
  transition: all 5s linear;
}