.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  /* background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;*/
}

.titleheader {
  color: #ffb763;
  text-align: center;
  font-size: 4em;
  padding: 17px;
}

.bgImgVision {
  background-image: url(assets/img/sport.png);
  background-size: cover;
  position: relative;
  z-index: -1;
  height:90vh;
}


  .bgImgVision::before {
    background-color: rgba(0, 0, 0, 0.76);
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.7;
    z-index: -1;
  }