<!--  TODOSEARCH
<div class="row" *ngIf="category != 'external'">
  <div class="col s12 m5">
    <div class="row">
      <div class="input-field ">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Search</label>
      </div>

    </div>
  </div>
</div>

    -->

<div class="row ">

  <div *ngFor="let top of featuredtopiclist" class="col s12 m6 l5" style="padding:5px !important;">


    <div class="card  wow pulse imgCard" style="    background-color: rgba(255, 255, 255, 0.62);">

      <img src="assets/img/featured.png" class="lorbeeri" />

      <div class="card-image" (click)="goToAbout(top.topicid)">
        <img src="http://changeisamazing.com/images/{{top.images[0].url}}" class="imgAk" />
        <img src="http://changeisamazing.com/images/{{top.images[top.images.length-1]?.url}}" class="imgAk" />
        <span class="card-title titleNew ">{{top.title.substring(1, 45)}}...</span>
      </div>
      <div class="card-action grey-text " style="border-bottom: 2px solid #e9d43b; padding:7px">
        <div class="inlineBlock">
          <img src="assets/img/respect.png" style="width:20px" /> {{top.upvote}}
        </div>
        <div class="inlineBlock">
          <i class="material-icons tiny">photo_library</i> {{top.images.length}}
        </div>


        <a class="inlineBlock" href="{{top.youtube}}" style="margin-left: 40px;color: #07b1f2; vertical-align: top;">
          <i class="material-icons tiny">play_circle_filled</i> ON YOUTUBE
        </a>

        <div class="right">
          {{top.category }} {{formatTime(top.date)}}
        </div>
      </div>

      <div>
        <br />
      </div>
    </div>

  </div>


  <div *ngFor="let top of topiclist" class="col s12 m4 l3" style="padding:5px !important;">

    <!-- Image only no video-->
    <div class="card  wow pulse imgCard" style="    background-color: rgba(255, 255, 255, 0.62);" >
      <div class="card-image" (click)="goToAbout(top.topicid)">

        <div *ngIf="top.images != null && top.images.length!=0">
          <img src="http://changeisamazing.com/images/{{top.images[0].url}}" class="imgAk" />
          <img src="http://changeisamazing.com/images/{{top.images[top.images.length-1]?.url}}" class="imgAk" />
        </div>

        <div  *ngIf="top.youtube!='' && top.images.length==0" style="position:relative;overflow:hidden">
          <img src="assets/img/respect.png" class="imgAk" />
          <img src="assets/img/respect.png" class="imgAk" />
          <img [src]="youtube(top.youtube)"  style=" width: 100%;position:absolute;left:0px;top:-36px;"/>
        </div>

        <span class="card-title titleNew ">{{top.title.substring(0, 45)}}...</span>
      </div>
      <div class="card-action grey-text " style="border-bottom: 1px solid #9e9eb9; padding:7px">
        <div class="inlineBlock">
          <img src="assets/img/respect.png" style="width:20px" title="Respectors" /> {{top.upvote}}
        </div>
        <div class="inlineBlock">
          <i class="material-icons tiny">photo_library</i> {{top.images.length}}
        </div>


        <a *ngIf="top.youtube!=''" class="inlineBlock" href="{{top.youtube}}" style="margin-left: 40px;color: #07b1f2; vertical-align: top;">
          <i class="material-icons tiny">play_circle_filled</i> ON YOUTUBE
        </a>

        <div class="right">
          {{top.category }} {{formatTime(top.date)}}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="topiclist.length == 0 && featuredtopiclist.length == 0">

    <img class="empyPic" src="/assets/img/noImage.jpeg"/>

  </div>


</div>


<app-page  (currentPageChange)="fetchTopicList($event)">

</app-page>