<!--  TODOSEARCH
<div class="row" *ngIf="category != 'external'">
  <div class="col s12 m5">
    <div class="row">
      <div class="input-field ">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Search</label>
      </div>

    </div>
  </div>
</div>

    -->

<div class="row " InfinityScroll (onfetch)="onScroll($event)">

  <div *ngFor="let top of featuredtopiclist" class="col s12 m6 l5" style="padding:5px !important;">
    <div class="card  wow pulse imgCard" style="    background-color: rgba(255, 255, 255, 0.62);">

      <img src="assets/img/featured.png" class="lorbeeri" />


      <div class="card-image" (click)="goToAbout(top.topicid)">
        <img src="http://changeisamazing.com/images/{{top.images[0].url}}" class="imgAk" />
        <img src="http://changeisamazing.com/images/{{top.images[top.images.length-1]?.url}}" class="imgAk" />
        <span class="card-title titleNew ">{{top.title.substring(1, 25)}}...</span>
      </div>
      <div class="card-action grey-text " style="border-bottom: 2px solid #e9d43b; padding:7px">
        <div class="inlineBlock">
          <img src="assets/img/respect.png" style="width:20px" /> {{top.upvote}}
        </div>
        <div class="inlineBlock">
          <i class="material-icons tiny">photo_library</i> {{top.images.length}}
        </div>
        <div class="right">
          {{top.category }} {{formatTime(top.date)}}
        </div>
      </div>
    </div>
    <div><br /></div>
  </div>


  <div *ngFor="let top of topiclist" class="col s12 m4 l3" style="padding:5px !important;">
    <div class="card  wow pulse imgCard" style="    background-color: rgba(255, 255, 255, 0.62);">
      <div class="card-image" (click)="goToAbout(top.topicid)">
        <img src="http://changeisamazing.com/images/{{top.images[0].url}}" class="imgAk" />
        <img src="http://changeisamazing.com/images/{{top.images[top.images.length-1]?.url}}" class="imgAk" />
        <span class="card-title titleNew ">{{top.title.substring(0, 25)}}...</span>
      </div>
      <div class="card-action grey-text " style="border-bottom: 1px solid #9e9eb9; padding:7px">
        <div class="inlineBlock">
          <img src="assets/img/respect.png" style="width:20px" title="Respectors" /> {{top.upvote}}
        </div>
        <div class="inlineBlock">
          <i class="material-icons tiny">photo_library</i> {{top.images.length}}
        </div>
        <div class="right">
          {{top.category }} {{formatTime(top.date)}}
        </div>
      </div>
    </div>
  </div>


</div>
