.imgCard {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

  .imgCard:hover {
    opacity: 0.8;
    background-color: black;
  }


.imgCard .card-title {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.25s linear;
  height: 30px;
  overflow: hidden;
}

.imgCard:hover .card-title {
  opacity: 0.8;
  background-color: white;
  color: black;
  height: 70px;
}


.CONTAINER {

}