<edit-profile *ngIf="user" [user]="user" [(isVisible)]="isEditUser"></edit-profile>


<div class="row bgproflpanel" *ngIf="user" [style.backgroundImage]="'url('+user.img+')'">

  <div class="col s12 m4 " style="    color: white; padding:15px">
    <!--fillter-->

  </div>

  <div class="col s12 m4 " *ngIf="user">


    <div class="card">
      <div class="card-image">
        <img [src]="user.img">
        <span class="card-title" style="    background-color: rgba(80, 80, 80, 0.3);    color: white;    font-size: 15px;">{{user.name}}</span>
        <a *ngIf="user.postalcode" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons" (click)="motiClick(user)">record_voice_over</i></a>

      </div>
      <div class="card-content">
        <div *ngIf="user.bio">
          <label>About me</label>
          <p>{{user.bio}}.</p>
        </div>
        <br />
        <div *ngIf="user.postalcode">
          <label>Location</label>
          <p><i class="material-icons left">place</i> {{user.postalcode}} {{user.country}}.</p>
          <br />
        </div>

        <div *ngIf="userTagstags.length!=0">
          <label>Motivator in</label><br />
          <div class="chip" *ngFor="let tags of userTagstags">
            {{tags.Name}}
          </div>
        </div>

        <a *ngIf="isUser" class="btn-floating halfway-fab waves-effect waves-light blue" (click)="showEditUser()"><i class="material-icons">settings</i> </a>
      </div>

      <div class="card-action" style="    background-color: #5d5d5d;">
        <p class="chip chipOutline"><img src="assets/img/respect.png" class="" style="width:24px; height:24px;  " title="Respectors"> {{respectcount}} respects</p>
        <p class="chip chipOutline"><img src="assets/img/join.png" class="" style="width:24px; height:24px; " title="Joiners"> {{motivators}} motivators</p>

      </div>

    </div>



    <br />

  </div>

  <div class="col s12 m4 " style="     margin-top: 45px;   color: white; padding:15px">



  </div>
  <div class="col s12 m12">




  </div>
</div>

<br />
<br />
<div class="row">

  <ul id="tabs-swipe-demo" class="tabs col s12">
    <li class="tab col s3"><a class="active" href="#myChanges"><i class="material-icons">face</i></a></li>
    <li class="tab col s3"><a href="#Guestbook"><i class="material-icons">mode_comment</i></a></li>
    <li class="tab col s3"><a href="#Motivator"><i class="material-icons">record_voice_over</i></a></li>
  </ul>
  <div id="myChanges" class="col s12 "><app-images-panel [category]="'external'" [topicsExtern]="topicList"></app-images-panel></div>
  <div id="Guestbook" class="col s12 ">In progress</div>
  <div id="Motivator" class="col s12 ">


    <div>
      <app-images-panel [category]="'external'" [topicsExtern]="topics"></app-images-panel>


    </div>

  </div>


</div>










