<div class="bgPanel">

</div>

<div class="linePanel">

</div>

<h1 class="center">{{topic?.title}}</h1>

<div *ngIf="topic">
    <div class="row picAndDescriptionPanel" *ngFor="let item of topic.images">

        <div class="agePanel"> {{item.date | date}}
        </div>

        <div class="col s12 l1">

        </div>

        <div class="col s12 l6 ">
            <img class="imgAbout responsive-img" style="width: 100%; max-width:600px !Important" src="{{item.url}}" />
        </div>

        <div class="col s12 l4 textAabout">
            <p> {{item.description}}</p>
        </div>

    </div>
</div>