<div class="bgPanel">

</div>

<div class="linePanel">

</div>

<h2 class="center">{{topic?.title}}</h2>
<p class="center">{{topic?.date | date}} by {{topic?.user?.name}}
    <br>
    <a *ngIf="isNotMe==false" class="btn" (click)="addnewPic=!addnewPic ">Add new picture</a>
    <br/>
    <br/>
    <a [hidden]="isNotMe" class="" (click)="deletePost()">Delete post</a>

</p>

<!-- new Pic-->
<div [hidden]="addnewPic" class="row" style="height: 90vh;     overflow-x: hidden; overflow-y: auto;">
    <div class="col s12 l4">
    </div>

    <div class="col s12 l4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" id="image_2" [src]="cropperAfter.base64" />

                <input class="fileinputer" type="file" accept="image/*" (change)="changeImage($event, false)">
                <button *ngIf="cropperAfter.Cropper" class="btn cropbtn" (click)="cropimg2()">crop</button>
            </div>
            <div class="card-content">

                <div class="row">

                    <div class="input-field col s12">
                        <input id="picdateid" type="date" class="datepicker">
                        <label for="picdateid">Date</label>
                    </div>

                    <div class="input-field col s12">
                        <textarea id="textarea2" class="materialize-textarea" [(ngModel)]="imageAfter.description"></textarea>
                        <label for="textarea2">Desciption</label>
                    </div>
                </div>

            </div>
            <div class="card-action">
                <a [hidden]="isNotMe" class="btn" (click)="savePic()">Save</a>
            </div>
        </div>
    </div>

    <div class="col s12 l4">
    </div>
</div>

<!-- Topic by user-->

<div *ngIf="topic">
    <div class="row picAndDescriptionPanel " *ngFor="let item of topic.images">

        <div class="agePanel wow fadeInLeft"> {{item.picdate | date}}
        </div>

        <div class="col s12 l1">

        </div>

        <div class="col s12 l6 wow pulse">
            <img class="imgAbout responsive-img" style="width: 100%; max-width:600px !Important" src="http://changeisamazing.com/images/{{item.url}}" />
        </div>

        <div class="col s12 l4 textAabout">
            <div class="card">
                <div class="card-content">
                    <p> {{item.description}}</p>

                </div>
                <div class="card-action" [hidden]="isNotMe">
                    <a class="" (click)="delete(item.imgid)">Delete</a>
                    <a class="btn">Edit</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Comment Section -->

<div class="chip " style="position: fixed; bottom: 5px; right: 5px;">
    <a (click)="hideComments=false">  Comments </a>
</div>

<div [hidden]="hideComments" class="commentPanel">

    <div class="card">
        <div class="card-content" *ngFor="let item of commentList">

            <a>{{item.user?.name}}</a>
            <p> {{item.texts}}</p>

        </div>
    </div>

    <div class="card">

        <div class="card-content">
            <div style="height: 70%">
            </div>
        </div>

        <div class="card-action">
            <div class="input-field ">
                <textarea id="textarea2" class="materialize-textarea" [(ngModel)]="newComment.texts"></textarea>
                <label for="textarea2">Desciption</label>
            </div>
            <a class="btn" (click)="post()">Post</a>
            <a class="" (click)="hideComments=true">Close</a>
        </div>
    </div>

</div>