<!DOCTYPE html>
<html lang="en">

<head>
    <base href="<%= APP_BASE %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= APP_TITLE %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- inject:css -->
    <!-- endinject -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="css/cropper.min.css">
    <link rel="stylesheet" href="css/animate.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" media="screen,projection">




</head>

<body>
    <loading id="loadingP" class="center">
        <div class="preloader-wrapper big active" style="margin-top: 25%">
            <div class="spinner-layer spinner-yellow-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </loading>
    <sd-app></sd-app>

    <script>
        // Fixes undefined module function in SystemJS bundle
        function module() {}
    </script>

    <!-- shims:js -->
    <!-- endinject -->

    <% if (BUILD_TYPE === 'dev') { %>
        <script src="<%= APP_BASE %>app/system-config.js"></script>
        <% } %>

            <!-- libs:js -->
            <!-- endinject -->

            <!-- inject:js -->
            <!-- endinject -->

            <% if (BUILD_TYPE === 'dev') { %>
                <script>
                    System.import('<%= BOOTSTRAP_MODULE %>')
                        .catch(function(e) {
                            console.error(e.stack || e,
                                'Not expecting this error? Report it at https://github.com/mgechev/angular2-seed/issues');
                        });
                </script>
                <% } %>

                    <script src="css/wow.min.js"></script>
                    <script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
                    <script src="css/cropper.min.js"></script>

</body>

</html>