<div class="container" style=" height: 100%;" *ngIf="image">
  <div class="col s12 m2">

  </div>
  <div class="col s12 m8">
    <div class="card">
      <div class="card-image {{picstep==0?'picstep0':''}}" >

        <img cropper [cropper]="cropper" class="responsive-img {{picstep==0?'picstep0Img':''}}" [src]="image.base64" #imageelemento  />

        <div class="cropBtpanel" *ngIf="picstep==0">
          <button *ngIf="cropper.base64" class="btn cropbtn" style="    display: block;      background-color: #ffa348;  width: 100%;    height: 58px;   margin-top: -10px;" (click)="cropimg()">crop</button>
          
          
          <button *ngIf="picstep==0 && !image.checked && this.cropper.Cropper==null"  class="btn cropbtn" style="    display: block;  background-color: #4893ff;  width: 100%;    height: 58px;   margin-top: -10px;" (click)="choseFileFire()">Choose file</button>

          
          <input *ngIf="picstep==0 && !image.checked && this.cropper.Cropper==null" style="display:none" type="file" accept="image/*" (change)="changeImage($event)" #fileUploadEle>
        </div>


      </div>
      <div class="card-content">
        <div class="row">

          <div class="input-field col s12 ">
            <label for="validto">Picture date</label>
            <input id="validto" type="date" pickadate [(value)]="image.picdate" [format]="'dd.mm.yy'">
          </div>


          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="image.description"></textarea>
            <label for="textarea1">Desciption</label>
          </div>
        </div>


      </div>
      <div class="card-action">
      </div>
    </div>

    <div class="col s12 m2">

    </div>

  </div>

</div>