<div class="container" style=" height: 100%;" *ngIf="image">
  <div class="col s12 m2">

  </div>
  <div class="col s12 m8">
    <div class="card">
      <div class="card-image">
        <img cropper [cropper]="cropper" class="responsive-img" [src]="image.base64" #imageelemento/>
      </div>
      <div class="card-content">
        <button *ngIf="cropper.base64" class="btn cropbtn" style="    display: block;    width: 100%;    height: 58px;   margin-top: -10px;" (click)="cropimg()">crop</button>
        <input *ngIf="!image.checked && this.cropper.Cropper==null" type="file" accept="image/*" (change)="changeImage($event)">
        <div class="row">


          <div class="input-field col s12 " style="    margin-bottom: 35px;">
            <input type="checkbox" [(ngModel)]="image.checked" (change)="isGoal(image)" id="test5" title="if your change is in progress, tell a bit about your goal"/>
            <label for="test5">is my goal</label>
          </div>


          <div class="input-field col s12 ">
            <label for="validto">Picture date</label>
            <input id="validto" type="date" pickadate [(value)]="image.picdate" [format]="'dd.mm.yy'">
          </div>


          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="image.description"></textarea>
            <label for="textarea1">Desciption</label>
          </div>
        </div>


      </div>
      <div class="card-action">
      </div>
    </div>

    <div class="col s12 m2">

    </div>

  </div>

</div>